<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">

<head th:include="layouts/standard :: headTag">

</head>

<head>
<title>Benutzer anlegen</title>
<style type="text/css">
body {
	min-height: 2000px;
	padding-top: 70px;
}
.text-danger {
	color: #D9534F;
}

.alert-danger {
	color: #D9534F;
	margin-top: 15px;
}
</style>

</head>

<body>

	<div th:replace="layouts/standard :: navbar" th:remove="tag"></div>

	<div class="container">
		<div class="page-header">
			<h1 th:text="${pageHeader}">Benutzer anlegen</h1>		
		</div>	
	
		<form role="form" action="add" th:action="@{${action}}" th:object="${user}" method="post">
			<h4>Benutzerdaten eingeben</h4>
  			<div class="form-group">
    			<label class="control-label" th:text="#{label.username}" th:for="${username}">Email address</label>
    			<input type="text" th:field="*{username}" class="form-control" th:id="${username}" th:placeholder="#{label.username}"></input>
    			<div class="alert alert-danger">Error for User</div>
  			</div>
			<div class="form-group">
    			<label th:text="#{label.password}" for="${password}">Password</label>
    			<input type="password" th:field="*{password}" class="form-control" th:id="${password}" th:placeholder="#{label.password}"></input>
  			</div>
  			<h4>Rolle ausw&auml;hlen</h4>
  			<div class="checkbox">
  				<div th:each="role : ${user.allRoles}">    		
      				<label> 
      					<input type="checkbox" th:field="*{rolesChecked}" th:value="${role.id}" th:text="#{${'role.' + role.rolename}}" />  		
      				</label> 		      			
      			</div>    
  			</div>  			

  			<button type="submit" class="btn btn-default">Senden</button>
  		</form>	
		<div class="alert alert-danger">Zugangsdaten nicht korrekt</div>
	</div>
	
<div th:replace="layouts/standard :: js-lib" th:remove="tag"></div>
</body>
</html>
