<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">

<head th:include="layouts/standard :: headTag">

</head>

<head>
<title>Bestellungen zur Bearbeitung</title>
<style type="text/css">
body {
	min-height: 2000px;
}
</style>

<script th:src="@{/webjars/sockjs-client/0.3.4/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/2.3.1/stomp.min.js}"></script>
<script src="/resources/productionSocket.js"></script>

</head>

<body onload="connectToWebsocket();">

	<div th:replace="layouts/standard :: navbar" th:remove="tag"></div>

	<div class="container">
		<div class="page-header"></div>
		<h3>Bestellungen zur Bearbeitung</h3>

		<div class="alert alert-success" th:if="${changeSuccessful}"
			th:text="#{${changeSuccessful}}">Passwörter müssen
			übereinstimmen</div>

		<table class="table">
			<thead>
				<tr>
					<th th:text="#{serve.add.chooseProduct.productname}"></th>
					<th>Gr&ouml;ße</th>
					<th>Bedienung</th>
					<th>Kommentar</th>
					<th>Erfasst</th>
					<th>Erfasst</th>
					<th>Bereitgstellt</th>
					<th>Erledigt</th>
					<th>Erledigt</th>
				</tr>
			</thead>
			<tbody id="body">
				<tr id="nextRow">
					<td id="productname"></td>
					<td id="size"></td>
					<td id="username"></td>
					<td id="comment"></td>
					<td id="createdDateString"></td>
					<td id="registered"></td>
					<td id="provided"></td>
					<td id="done"></td>
				</tr>

				<tr th:each="orderPosition : ${orderPositions}">					
					<td id="productname" th:text="${orderPosition.productname}"></td>
					<td id="size" th:text="${orderPosition.size}"></td>
					<td id="username" th:text="${orderPosition.username}"></td>
					<td id="comment" th:text="${orderPosition.comment}"></td>
					<td id="createdDateString" th:text="${orderPosition.createdDate}"></td>
					<td id="registered" th:text="${orderPosition.registered}"></td>
					<td id="provided" th:text="${orderPosition.provided}"></td>
					<td id="done" th:text="${orderPosition.done}"></td>
				</tr>
				<tr id="row">
					<td id="productname"></td>
					<td id="size"></td>
					<td id="username"></td>
					<td id="comment"></td>
					<td id="createdDateString"></td>
					<td id="registered"></td>
					<td id="provided"></td>
					<td id="done"></td>
				</tr>
			</tbody>
		</table>

	</div>
	<div th:replace="layouts/standard :: js-lib" th:remove="tag"></div>
</body>
</html>
