<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org" lang="en">

<head>
	
</head>

<body tiles:fragment="content">
	<div>
		<h1>Catering</h1>
		<h3 th:text="${event.name}">Example Event</h3>

		
		<table>
			<tr th:each="location : ${event.locations}">
				<td th:text="${location.name}">...</td>
				<td th:text="${location.street}">...</td>
				<td th:text="${location.town}">...</td>
				<td th:text="${location.type}">...</td>

			</tr>


		</table>
		
		<form action="#" th:action="${flowExecutionUrl}"
		th:object="${event}" method="post">

	
		<button class="btn btn-primary pull-right" type="submit">Weiter</button>
		<button class="btn btn-primary pull-left" type="submit" id="back" name="_eventId_back">Zur&uuml;ck</button>
	</form>
		
	</div>
</body>
</html>