<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body tiles:fragment="content">
	<h1>First Flow Page</h1>

	<form action="#" th:action="${flowExecutionUrl}" th:object="${event}" method="post">
	
	 <p>Name der Veranstaltung: <input type="text" th:field="*{name}" /></p>

		<button type="submit" id="proceed" name="_eventId_proceed">Weiter</button>
	</form>
</body>
</html>
