<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body tiles:fragment="content">

	<h1>Beleuchtung</h1>

	<h3 th:text="${event.name}">Example Event</h3>

	<table>
		<tr>
			<td th:text="${event.security.name}">...</td>
			<td th:text="${event.security.numberOfProtectees}">...</td>
		</tr>
	</table>

	<form action="#" th:action="${flowExecutionUrl}" th:object="${light}"
		method="post">

		<h3>Bitten geben Sie uns Informationen zum Ort an dem die
			Veranstaltung stattfinden soll:</h3>

		<div class="col-lg-6">

			<p>
				Name eines bevorzugten Lichtdienstes: <input type="text"
					class="form-control" placeholder="Bsp. Sample Light Service"
					th:field="*{name}" />
			</p>
			<p>
				Anzahl der Lichter: <input type="text" class="form-control" placeholder="Bsp. Sample Security" th:field="*{numberOfLights}" />
			</p>

			<button class="btn btn-primary pull-right" type="submit" id="proceed"
				name="_eventId_proceed">Weiter</button>
			<button class="btn btn-primary pull-left" type="submit" id="back"
				name="_eventId_back">Zur&uuml;ck</button>

		</div>

	</form>

</body>
</html>
