<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body tiles:fragment="content">
<div>
	<h1>Name Ihrer Veranstaltung:</h1>
	<h3 th:text="${event.name}">Example Event</h3>


	<form action="#" th:action="${flowExecutionUrl}"
		th:object="${event}" method="post">


		<p>
			Bitte geben Sie Ihren Veranstaltungs Ort ein: <input type="text"
				th:field="*{locations}" />
		</p>

		<button type="submit" id="back" name="_eventId_back">Zurück</button>
		<button type="submit" id="proceed" name="_eventId_proceed">Weiter</button>
	</form>
	</div>
</body>
</html>
