<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body tiles:fragment="content">
<div>
	<h1>Name Ihrer Veranstaltung:</h1>
	<h3 th:text="${event.name}">Example Event</h3>
	<h3 th:text="${event.date}">Example Date</h3>


	<form action="#" th:action="${flowExecutionUrl}"
		th:object="${location}" method="post">

	<h3>Bitten geben Sie uns Informationen zum Ort an dem die Veranstaltung stattfinden soll:</h3>
		<p>
			Name des Orts <input type="text"
				th:field="*{name}" />
		</p>
		<p>
			Straße: <input type="text"
				th:field="*{street}" />
		</p>
		<p>
			Stadt: <input type="text"
				th:field="*{town}" />
		</p>
		
		<p>
			Typ Veranstaltungsort (bsp. Stadthalle): <input type="text"
				th:field="*{type}" />
		</p>

		<button type="submit" id="back" name="_eventId_back">Zurück</button>
		<button type="submit" id="proceed" name="_eventId_proceed">Weiter</button>
	</form>
	</div>
</body>
</html>
