<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body tiles:fragment="content">

	<h1>Besonderes</h1>

	<h3 th:text="${event.name}">Example Event</h3>

	<table>
		<tr th:each="rigging : ${event.riggings}">
			<td th:text="${rigging.name}">...</td>
		</tr>
	</table>

	<form action="#" th:action="${flowExecutionUrl}"
		th:object="${specialty}" method="post">

		<h3>Bitten geben Sie uns Informationen zum Ort an dem die
			Veranstaltung stattfinden soll:</h3>
		<p>
			Betreff: <input type="text" th:field="*{subject}" />
		</p>
		<p>
			Kommmentar: <input type="text" th:field="*{comment}" />
		</p>

		<button class="btn btn-primary pull-right" type="submit" id="proceed"
			name="_eventId_proceed">Weiter</button>
		<button class="btn btn-primary pull-left" type="submit" id="back"
			name="_eventId_back">Zur&uuml;ck</button>
	</form>

</body>
</html>
