<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org" lang="en">

<head>

</head>

<body tiles:fragment="content">

<form action="#" th:action="${flowExecutionUrl}" method="post">

	<h1>Ihr Event - Zusammenfassung</h1>
	<h3 th:text="${event.name}">Example Event</h3>

	<table>
		<tr>
			<td th:text="${event.location.street}">...</td>
			<td th:text="${event.location.town}">...</td>
			<td th:text="${event.location.type}">...</td>
		</tr>
	</table>

	<table>
		<tr>
			<td th:text="${event.catering.eating}">...</td>
			<td th:text="${event.catering.eatingType}">...</td>
			<td th:text="${event.catering.eatingPeople}">...</td>
			<td th:text="${event.catering.drinking}">...</td>
			<td th:text="${event.catering.drinkingPeople}">...</td>
		</tr>
	</table>

	<table>
		<tr>
			<td th:text="${event.security.name}">...</td>
			<td th:text="${event.security.numberOfProtectees}">...</td>
		</tr>
	</table>

	<table>
		<tr>
			<td th:text="${event.light.name}">...</td>
			<td th:text="${event.light.numberOfLights}">...</td>
		</tr>
	</table>

	<table>
		<tr>
			<td th:text="${event.audio.name}">...</td>
		</tr>
	</table>

	<table>
		<tr>
			<td th:text="${event.rigging.name}">...</td>
		</tr>
	</table>

	<table>
		<tr>
			<td th:text="${event.specialty.subject}">...</td>
			<td th:text="${event.specialty.comment}">...</td>
		</tr>
	</table>
</form>

</body>
</html>
