<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="Christian Henle" />

<title>Configurator</title>

<link href="/resources/css/bootstrap.min.css" rel="stylesheet">
</link>
<style type="text/css">
body {
	background-color: #FFF;
}
</style>

</head>
<body>

	<div th:include="layout :: navbar"></div>


	<div class="container">
		<h2 class="form-register-heading">Bitte geben Sie hier Ihre Daten
			ein.</h2>
		<form action="http://localhost:8081/loanbroker" method="post"
			class="form-signin" role="form" th:object="${loanRequest}">

			<label for="RequestId">RequestId</label> <input type="text"
				th:field="*{requestId}" class="form-control" placeholder="RequestId"
				readonly="readonly" /> <label for="UserId">UserId</label> <input
				type="text" th:field="*{userId}" class="form-control"
				placeholder="UserId" readonly="readonly" /> <label
				for="Kreditbetrag">Kreditbetrag</label> <input type="text"
				th:field="*{amount}" class="form-control" size="45"
				placeholder="Kreditbetrag" /> <label for="Laufzeit">Laufzeit</label>
			<input type="text" th:field="*{term}" class="form-control" size="45"
				placeholder="Laufzeit" /> <label for="SSN">SSN</label> <select
				name="ssn" size="3" class="form-control">
				<option>testA</option>
				<option>testB</option>
				<option>testC</option>
				<option>testD</option>
				<option>testE</option>
				<option>testF</option>
				<option>testG</option>
				<option>testH</option>
				<option>testI</option>
				<option>testJ</option>
				<option>testK</option>
				<option>testL</option>
				<option>testN</option>
				<option>testO</option>
				<option>testP</option>
				<option>test-1</option>
				<option>test0</option>
				<option>test9999</option>
				<option>test10000</option>
			</select>

			<button class="btn btn-lg btn-primary btn-block" type="submit">Anfrage
				stellen</button>
		</form>
	</div>

</body>
</html>
