<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">

<head th:fragment="headTag">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<meta name="description" content="" />
<meta name="author" content="Christian Henle" />

<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />


<script type="text/javascript" src="/webjars/jquery/1.11.1/jquery.min.js"
	th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>

<script>
	$(document).on("click", "a", function(event) {

		// Stop the default behavior of the browser, which
		// is to change the URL of the page.
		event.preventDefault();

		// Manually change the location of the page to stay in
		// "Standalone" mode and change the URL at the same time.
		location.href = $(event.target).attr("href");

	});
</script>

<link href="../../resources/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}">
</link>

<link rel="icon" href="/favicon.ico" th:href="@{/favicon.ico}">
</link>

</head>
<body>
		<div th:fragment="navbar">
			<div class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button class="navbar-toggle" data-toggle="collapse"
							data-target=".navbar-collapse" type="button">
							<span class="icon-bar"></span> 
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/">Order</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li class="dropdown" sec:authorize="hasRole('Manager')">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Benutzer verwalten<span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
										<li><a th:href="@{/management/user/table}" th:text="#{management.user.table.pageHeader}">Benutzer anzeigen</a></li>
										<li><a th:href="@{/management/user/add}" th:text="#{management.user.form.add.pageHeader}">Benutzer anlegen</a></li>
										<li><a th:href="@{/management/user/table/edit}" th:text="#{management.user.edit.pageHeader}">Benutzer bearbeiten</a></li>
										<li><a th:href="@{/management/user/table/enable}" th:text="#{management.user.enable.pageHeader}">Benutzer deaktivieren</a></li>
										<li><a th:href="@{/management/user/table/password}" th:text="#{management.user.password.pageHeader}">Benutzer Passwort &auml;ndern
										</a></li>
									</ul>								
							</li>
							<li class="dropdown" sec:authorize="hasRole('Manager')">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Produkte verwalten<span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
										<li><a th:href="@{/management/product/table}" th:text="#{management.product.table.pageHeader}">Produkt anzeigen</a></li>
										<li><a th:href="@{/management/product/add}" th:text="#{management.product.form.add.pageHeader}">Produkt anlegen</a></li>
								</ul>								
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle"	data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><span> </span><span sec:authentication="name"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a th:href="@{/attitude}">Einstellungen</a></li>
									</ul>
							</li>
							<li>
								<a th:href="@{/j_spring_security_logout}"><span class="glyphicon glyphicon-off"></span> Abmelden</a>
							</li>
						</ul>						
					</div>
				</div>
			</div>
		</div>

	<div id="footer">
		<div class="container">
			<p class="text-muted">Order by Christian Henle</p>
		</div>
	</div>

	<div th:fragment="js-lib">
	<script src="/webjars/bootstrap/3.2.0/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
		</div>
</body>
</html>
