<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">

<head th:include="layouts/standard :: headTag">

</head>

<head>
<title>Benutzerstatus &auml;ndern</title>
<style type="text/css">
body {
	min-height: 2000px;
	padding-top: 70px;
}
.text-danger {
	color: #D9534F;
}

.alert-danger {
	color: #D9534F;
}

.alert {

	margin-top: 15px;
}
</style>

</head>

<body>

	<div th:replace="layouts/standard :: navbar" th:remove="tag"></div>

	<div class="container">
		<div class="page-header">
			<h1 th:text="#{management.user.enable.pageHeader}">Benutzerstatus &auml;ndern</h1>
		</div>

		<form role="form" action="add" th:action="@{${action}}" th:object="${user}" method="post">

			<input th:field="*{version}" type="hidden"></input>
					
			<div class="form-group">
				<label class="control-label" th:for="*{enabled}" th:text="${user.username}"></label>	
				<select class="form-control" th:id="*{enabled}" th:field="*{enabled}">
					<option th:each="type : ${enabledOptions}" th:value="${type}"
							th:text="#{${'management.user.enable.do.'+type}}">Dropdown</option>
				</select>
			</div>
			
			<button type="submit" class="btn btn-default">Senden</button>
		</form>
		<div class="alert alert-danger" th:if="${formError}" th:text="#{${formError}}">Username Error</div>   
	</div>

	<div th:replace="layouts/standard :: js-lib" th:remove="tag"></div>
</body>
</html>
