<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">

<head th:include="layouts/standard :: headTag">

</head>

<head>
<title>Benutzer anlegen</title>
<style type="text/css">
body {
	min-height: 2000px;
	padding-top: 70px;
}
.text-danger {
	color: #D9534F;
}

.alert-danger {
	color: #D9534F;
}

.alert {

	margin-top: 15px;
}
</style>

</head>

<body>

	<div th:replace="layouts/standard :: navbar" th:remove="tag"></div>

	<div class="container">
		<div class="page-header">
			<h1 th:text="#{${pageHeader}}">Benutzer anlegen</h1>		
		</div>	
	
		<form role="form" action="add" th:action="@{${action}}" th:object="${user}" method="post">
		
			<input th:field="*{version}" type="hidden"></input>
				
  			<div class="form-group">
    			<label class="control-label" th:text="#{management.user.form.add.username}" th:for="${username}">Email address</label>
    			<input type="text" th:field="*{username}" class="form-control" th:id="${username}" th:placeholder="#{management.user.form.add.username}"></input>
    			<div class="alert alert-danger" th:if="${usernameError}" th:text="#{${usernameError}}">Username Error</div>
    			<div class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">type error</div> 
  			</div>
			<div class="form-group" th:if="${passwordField}">
    			<label th:text="#{management.user.form.add.password}" for="${password.password1}">Password</label>
    			<input type="password" th:field="*{password.password1}" class="form-control" th:placeholder="#{management.user.form.add.password}"></input>
    			<div class="alert alert-danger" th:if="${#fields.hasErrors('password.password1')}" th:errors="*{password.password1}">type error</div> 
  			</div>
  			<div class="form-group" th:if="${passwordField}">
    			<label th:text="#{management.user.form.add.passwordrepeat}" for="${password.password2}">Password</label>
    			<input type="password" th:field="*{password.password2}" class="form-control" th:placeholder="#{management.user.form.add.passwordrepeat}"></input>
    			<div class="alert alert-danger" th:if="${passwordError}" th:text="#{${passwordError}}">Passwörter müssen übereinstimmen</div>
    			<div class="alert alert-danger" th:if="${#fields.hasErrors('password.password2')}" th:errors="*{password.password2}">type error</div>  
  			</div>
  			<h4>Rolle ausw&auml;hlen</h4>
  			<div class="checkbox">
  				<div th:each="role : ${user.allRoles}">    		
      				<label> 
      					<input type="checkbox" th:field="*{rolesChecked}" th:value="${role.id}" th:text="#{${'role.' + role.rolename}}" />  		
      				</label> 		      			
      			</div> 
      			<div class="alert alert-danger" th:if="${roleError}" th:text="#{${roleError}}">Username Error</div>   
  			</div>  			

  			<button type="submit" class="btn btn-default">Senden</button>
  		</form>	
		<div class="alert alert-danger" th:if="${formError}" th:text="#{${formError}}">Username Error</div>   
		<div class="alert alert-success" th:if="${changeSuccessful}" th:text="#{${changeSuccessful}}">Passwörter müssen übereinstimmen</div>
	</div>
	
<div th:replace="layouts/standard :: js-lib" th:remove="tag"></div>
</body>
</html>
