<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">

<head th:include="layouts/standard :: headTag">

</head>

<head>
<title>Bestellung erfassen</title>
<style type="text/css">
body {
	min-height: 2000px;
}
</style>

</head>

<body>

	<div th:replace="layouts/standard :: navbar" th:remove="tag"></div>

	<div class="container">
		<div class="page-header"></div>
		<h3 th:text="#{serve.order.add.aggreationComment.pageHeader}">Bestellung speichern</h3>	
	
	
	 <form class="form-inline"  role="form" th:action="@{${'/serve/order/table/' + tableId + '/aggregationComment/withoutComment'}}" method="post">
			<input type="submit" class="btn btn-primary btn-lg btn-block" role="button" th:value="#{serve.order.add.aggreationComment.saveOrderWithoutComment}"/>	
	</form>	
	
	
	<form class="form-inline"  role="form" th:action="@{${'/serve/order/table/' + tableId + '/aggregationComment/withComment'}}" method="post" th:object="${orderPositionModel}">
	<table class="table">	
		<tbody>		
			
			 <tr th:each="orderPosition : ${#numbers.sequence(0,(orderPositionModel.listOrderPositions.size() - 1))}">
					
				<td>
			 		<div class="form-group">
    					<label th:text="${orderPositionModel.listOrderPositions[__${orderPosition}__].product.productname+' '+orderPositionModel.listOrderPositions[__${orderPosition}__].product.size}">Productname</label>    					
    					<input type="text" th:field="${orderPositionModel.listOrderPositions[__${orderPosition}__].comment}" class="form-control" th:id="${orderPositionModel.listOrderPositions[__${orderPosition}__].comment}" placeholder="Comment"></input>
 						</div>
			 			<input id="id" name="id" th:field="${orderPositionModel.listOrderPositions[__${orderPosition}__].id}" type="hidden" readonly="readonly" />	 		
				</td>
			</tr>
		</tbody>
	</table>
	<input type="submit" class="btn btn-primary btn-lg btn-block" value="Senden mit Kommentar"/>
	</form>	
	
		
	
	</div>
	<div th:replace="layouts/standard :: js-lib" th:remove="tag"></div>
</body>
</html>
