<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">

<head th:include="layouts/standard :: headTag">

</head>

<head>
<title>Bestellung erfassen</title>
<style type="text/css">
body {
	min-height: 2000px;
	padding-top: 35px;
}
</style>

</head>

<body>

	<div th:replace="layouts/standard :: navbar" th:remove="tag"></div>

	<div class="container">
		<div class="page-header">
			<h1>Bestellung erfassen</h1>		
		</div>	
		
		<div class="alert alert-success" th:if="${changeSuccessful}" th:text="#{${changeSuccessful}}">Passwörter müssen übereinstimmen</div>
		
		
	
	<table class="table">
		<thead>
			<tr>
				<th th:text="#{serve.add.chooseProduct.productname}"></th>
				<th th:text="#{serve.add.chooseProduct.amount}"></th>				
				<!--  <th th:text="#{serve.add.chooseProduct.orderProductAditionalInfo}"></th>
				<th th:text="#{serve.add.chooseProduct.amount}"></th>	-->
			</tr>
		</thead>		
		<tbody>
		
			 <tr th:each="product : ${products}">
		
			 	 <form class="form-inline"  role="form" th:action="@{${'/serve/order/table/' + tableId + '/add'}}" method="post">
				<td>
			 		
			 			<div class="form-group">
			 				<input type="submit" class="btn btn-default btn-lg" th:value="${product.productname+' '+product.size}"/>
			 			</div>
			 			<input id="id" name="id" th:value="${product.id}" type="hidden" readonly="readonly" /> 						 	
			 			<input id="tableId" name="tableId" th:value="${product.tableId}" type="hidden" readonly="readonly" />	
			 					 		
			 	</td>
			 	<td>
			 		<div class="form-group">	
			 				<select id="amount" name="amount" th:value="${product.amount}" class="input-group">
							 	<option th:each="avai : ${amountOptions}" th:text="${avai}">Dropdown</option>
							</select>
						</div>	
						
			 	</td>
			 	</form>	
			 		
			 	<!--  <form role="form" action="/serve/add/saveOrderPosition/default" method="post">
				<td>
			 		
			 			<div class="form-group">
			 				<input type="submit" class="btn btn-default btn-lg" th:value="Sonderwunsch"/>
			 			</div>
			 			<input id="id" name="id" th:value="${product.id}" type="hidden" readonly="readonly" /> 						 	
			 			<input id="tableId" name="tableId" th:value="${product.tableId}" type="hidden" readonly="readonly" />	
			 					 		
			 	</td>
			 	<td>
			 		<div class="form-group">	
			 				<select id="amount" name="amount" th:value="${product.amount}" class="input-group">
							 	<option th:each="avai : ${amountOptions}" th:text="${avai}">Dropdown</option>
							</select>
						</div>	
						
			 	</td>
				</form>-->
			</tr>
		</tbody>
	</table>	

	</div>
	<div th:replace="layouts/standard :: js-lib" th:remove="tag"></div>
</body>
</html>
