<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">

<head th:include="layouts/standard :: headTag">

</head>

<head>
<title>Bestellung erfassen</title>
<style type="text/css">
body {
	min-height: 2000px;
	padding-top: 70px;
}
</style>

</head>

<body>

	<div th:replace="layouts/standard :: navbar" th:remove="tag"></div>

	<div class="container">
		<div class="page-header">
			<h1 th:text="#{${pageHeader}}">Bestellung erfassen</h1>		
		</div>	
		
		<div class="alert alert-success" th:if="${changeSuccessful}" th:text="#{${changeSuccessful}}">Passwörter müssen übereinstimmen</div>
		
		
	
	<table class="table">
		<thead>
			<tr>
				<th th:text="#{serve.add.chooseProduct.productname}"></th>				
				<th th:text="#{serve.add.chooseProduct.size}"></th>
				<th th:text="#{serve.add.chooseProduct.price}"></th>
				<th th:text="#{serve.add.chooseProduct.orderProductAditionalInfo}"></th>
				<th th:text="#{serve.add.chooseProduct.saveProduct}"></th>
			</tr>
		</thead>		
		<tbody>
		
		<!-- <form th:each="product : ${#numbers.sequence(0,(products.size() - 1))}" th:object="${products[__${product}__]}">
			<td th:text="${products[__${product}__].productname}"></td>
		-->
			 <tr th:each="product : ${products}">
			 	
				<td th:text="${product.productname}"></td>
				<td th:text="${product.size}"></td>
			 	<td th:text="${product.price}"></td>			
				<td>
					<a th:href="@{${tableId + '/chooseProduct/' + product.id}}" class="btn btn-default" role="button" th:text="${product.productname + ' Zusatzinformationen'}">Button Text</a>
				</td>
				<td>
					<form role="form" th:action="@{${tableId + '/chooseProduct/' + product.id + '/default'}}" method="post">
						<button type="submit" class="btn btn-default" th:text="${product.productname + ' speichern'}">Default</button>
					</form>
				</td>
				
			</tr>
		</tbody>
	</table>	

	</div>
	<div th:replace="layouts/standard :: js-lib" th:remove="tag"></div>
</body>
</html>
