<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head th:replace="layouts/standard :: headTag">

</head>

<body>

   <div th:replace="layouts/standard :: navbar" th:remove="tag">
   </div>
	<h3>
	Sie haben folgende M&ouml;glichkeiten:
	</h3>
	<br />
	<br />

	<p>
	<span sec:authorize="!isAuthenticated()">
		<a href="/login">Login</a> |
	</span>
	<a href="/flows">Veranstaltung konfigurieren</a>
	<span sec:authorize="hasRole('ROLE_ADMIN')"> |
	<a href="/admin/orders">Auftr&auml;ge</a> |
	<a href="/admin/customers">Kunden&uuml;bersicht</a>
	</span>
	<span sec:authorize="isAuthenticated()"> |
		<a th:href="@{/admin/j_spring_security_logout}">Logout</a>
	</span>
	</p>
	
	
	<div th:replace="layouts/standard :: js-lib" th:remove="tag"></div>


</body>
</html>
