<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head th:include="layouts/standard :: headTag">
</head>

<body>

   <div th:replace="layouts/standard :: navbar" th:remove="tag"></div>
   

   
   <div class="container">
   		<div class="page-header"></div>	
   				
   		<table class="table" sec:authorize="hasRole('Waiter')">	
			<tbody>
				<tr th:each="tableCustomer : ${tableCustomers}">
					<td>
						<a th:href="@{${'/serve/order/table/' + tableCustomer.id}}" class="btn btn-default btn-lg btn-block" role="button" th:text="${'Tisch ' + tableCustomer.tableNumber}">Button Text</a>
					</td>
				</tr>
			</tbody>
		</table>		
		<table class="table" sec:authorize="hasAnyRole('Cook, Barkeeper')">	
			<tbody>
				<tr>
					<td>
						<a th:href="@{/serve/order/produce}" class="btn btn-default btn-lg btn-block" role="button" th:text="${'Bestellungen'}">Button Text</a>
					</td>
				</tr>
			</tbody>
		</table>   		
	</div>
	
	<div th:replace="layouts/standard :: js-lib" th:remove="tag"></div>
</body>
</html>
