<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org" lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="Simplicity Itself" />

<title>Configurator Login</title>

<link href="/resources/css/bootstrap.min.css" rel="stylesheet"
	media="all" th:href="@{/resources/css/bootstrap.min.css}">
</link>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js}"></script>

<script type="text/javascript" src="/resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="/resources/js/bootstrap.js"
	th:src="@{/resources/js/bootstrap.js}"></script>

<!-- See http://twitter.github.com/bootstrap/scaffolding.html#responsive -->
<link href="/resources/css/bootstrap-responsive.min.css"
	rel="stylesheet">
</link>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body tiles:fragment="content">
	<div class="container">
		<!--  <form th:action="@{/admin}" method="get">-->
		<form th:action="@{/admin/j_spring_security_check}" method="post"
			class="form-signin" role="form">
			<h2 class="form-signin-heading">Bitte Anmelden</h2>

			<input type="text" id="j_username" name="j_username"
				class="form-control" autofocus="" required=""
				placeholder="Benutzername" /> 
			<input type="password"
				id="j_password" name="j_password" class="form-control"
				required="" placeholder="Passwort" />

			<!--  <input type="submit" value="Log in" class="btn btn-lg btn-primary btn-block"/>-->
			<button class="btn btn-lg btn-primary btn-block" type="submit">Anmelden</button>
				
				<div class="alert alert-danger" th:if="${loginError}">Zugangsdaten nicht korrekt</div>
			<a href="/user/new"><h5 class="form-register-link">Neuen Account anlegen</h5></a>	
		</form>	
	</div>
</body>
</html>
